.none {
    display: none;
}

.block {
    display: block;
}

.p-custom{
    padding: 10rem 0rem;
}

.backg{
    background-color: blueviolet;
}

.wh-custom{
    height: 12rem;
    width: 12rem;
}